.bin/
.gems/
Gemfile.lock
.vagrant/
pkg/
log/
spec/fixtures/manifests
spec/fixtures/modules
spec/fixtures/.librarian
spec/fixtures/.tmp
spec/fixtures/Puppetfile.lock
spec/fixtures/Puppetfile
.bundle
catalogs
.yardoc
